.container {
  width: 90%;
  margin: 2rem auto 3rem auto;
}

.btnContainer {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-around;
}

.btn {
  border-radius: 5px;
  background-color: #282c34;
  padding: 0.7rem;
  color: white;
  text-decoration: none;
}

.btn-green {
  background-color: green;
}

.btn-teal {
  background-color: teal;
}

.btn:hover {
  background-color: #474c57;
}

#seriesSummary {
  margin: 0px auto;
  max-width: 600px;
}