.App-footer {
  background-color: #282c34;
  border-top-left-radius: 5px;
  opacity: 70%;
  color: white;
  padding: 0.5rem 0.7rem;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.App-footer p {
  margin: 0px 0.7rem;
  font-size: 0.9rem;
}

.App-footer a {
  color: white;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}
